{LARGE_FILE} filter=lfs diff=lfs merge=lfs -text
.dart_tool/pub/bin/flutter_launcher_icons/main.dart-2.10.1.snapshot filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
add filter=lfs diff=lfs merge=lfs -text
.dart_tool/flutter_build/c7d649ff71fcb06b3c1095bc564ad4c2/app.dill filter=lfs diff=lfs merge=lfs -text
build/ios/Debug-Development-iphonesimulator/FirebaseFirestore/FirebaseFirestore.framework/FirebaseFirestore filter=lfs diff=lfs merge=lfs -text
build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Flutter filter=lfs diff=lfs merge=lfs -text
build/ios/Debug-Development-iphoneos/FirebaseFirestore/FirebaseFirestore.framework/FirebaseFirestore filter=lfs diff=lfs merge=lfs -text
